.containerCandidature{
    position: relative;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}
.hidd{
    position: relative;
    width: 100vw;
    max-width: 100vw;
    overflow-y: hidden;
}
.offreCandidat{
    position: relative;
    background-color: rgb(26, 142, 163);
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}


.contentprinp{
    position: relative;
    width: 90%;
    max-width: 1600px;
    display: grid; 
    grid-template-columns: 1fr 2fr;
    height: 83%;
    margin-top:calc(100% - (100% - 40px));
    margin-bottom: 20px;
    align-items: center;
}


/***********************/
.listeOffreCandidat{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px 0px 0px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 98%;
}

  .listeOffreCandidat::-webkit-scrollbar {
    width: 10px; 
    background-color: rgb(0, 0, 0, 0.5);
  }
  .listeOffreCandidat::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000; 
  
  }
  

.scrollListe{
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin-top: 70px;
}


.offreContent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 10px 0px;
    width: 88%;
    color:  #E0E0E0;
    box-shadow: 0 12px 24px rgba(7, 12, 61, 0.1);
    transition: transform 300ms ease;
    justify-items: center; /* Centre les éléments dans chaque colonne horizontalement */
    align-items: center;
}

.offreContent:hover{
    cursor: pointer;
}

.selected{
    width: 90%;
    color: #E0E0E0;
    border-bottom: 1px solid  #E0E0E0;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}
/********/
.descriptionOffreCandidat{
    position: relative;
    overflow-y: scroll;
    font-size: 15px;
    text-align: justify;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.chargementDesp{
    position: relative;
    background-color: rgb(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptionOffreCandidat::-webkit-scrollbar {
    width: 10px; 
    background-color: rgb(0, 0, 0, 0.5);
  }
  .descriptionOffreCandidat::-webkit-scrollbar-thumb {
    background-color: #E0E0E0;
  
  }
.detaille{
    display: flex;
    color: #E0E0E0;
    width: 100%;
    transition: transform 1s ease; /* Transition de 0.7s */
}
.center{
    width: 100%;
    height: 100%;
    padding: 30px;
}

li {
    line-height: 1.3; /* Ajuste l'interligne pour les éléments de liste */
  }

.titre1{
    text-align: center;
    line-height: 0.8;
}
.titre2{
    text-align: center;
    font-size: 22px;
    line-height: 0.8;
}
.titre3{
    text-align: center;
    line-height: 0.8;
}
.titre4{
    font-size: 16px;
}
.titre5{
    line-height: 1.3;
}
.titre7{
    font-size: 20px;
    text-align: center;
}

.boutonTel{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    height:28px ;
    width: 97%;
}
.boutonTel>button{
    background-color: var(--white);
    height: 25px;
    border: none;
    color: black;
    border-radius:5px ;
    transition: all 300ms ease;
    box-shadow: 0 12px 24px rgba(255, 255, 255, 0.1);
    width: 120px;
}
.boutonTel>button:hover{
    cursor: pointer;
    transform: scale(1.04);

}

.btn_offre_mobile{
    display: none;
}

@media (max-width: 480px) {
    .btn_offre_mobile{
        display: block;
        position: fixed;
        top: 90px;
        left: 0;
        height: 40px;
        width: 15px;
        background-color: yellow;
        z-index: 12;
        transition: all 200ms ease;
    }
    .btn_offre_mobile:active{ 
        width: 30px;
    }
    .center>ul{
        padding: 12px;
    }
    .offreCandidat{
        height: auto;
    }
    .contentprinp{
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }
    .listeOffreCandidat{
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        border-radius: 0;
        height: 100vh;
        width: 100vw;
        z-index: 11;
        transition: all 200ms ease;
    }
    .listeOffreCandidat.show{
        transform: translateX(0);
    }
    
      .listeOffreCandidat::-webkit-scrollbar {
        width: 10px; 
        background-color: rgb(0, 0, 0, 0.5);
      }
      .listeOffreCandidat::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid #000000; 
      
      }
      

    .scrollListe{
        position: relative;
        display: flex;
        align-items: center;
        background: transparent;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
        margin-top: 150px;
    }
    
    
    .offreContent{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 15px;
        background-color: #E0E0E0;
        border-radius: 10px 0px 10px 0px;
        width: 90%;
        color: black;
        box-shadow: 0 12px 24px rgba(7, 12, 61, 0.2);
        transition: transform 300ms ease;
        justify-items: center; /* Centre les éléments dans chaque colonne horizontalement */
        align-items: center;
    }
    
    .offreContent:hover{
        cursor: pointer;
    }
    
    .center{
        padding: 20px;
    }
    .descriptionOffreCandidat::-webkit-scrollbar {
        width: 2px; 
      }
}
