@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html{
    font-family: 'Roboto';
    font-weight: 500;
    padding: 0;
    max-width: 100vw;
    margin: 0 ;
    overflow-x: hidden;

  }
  
/******************************/

.fixedImage{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  max-height: 1000px;
  background-image: url(fixed.jpg);
  width: 100vw;
  max-width: 2000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fondFixed{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
}


.hero {
  position: relative;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 10;
}

.image1 {
  position: relative;
  background-image: url("./image1.jpg");
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fondNoir{
  position: relative;
  flex-direction: column;
  height: 100vh;
  max-height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.content0{
  padding: 10px;
  width: 90%;
  max-width: 1400px;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}
.descriAccueil{
  font-size: 30px;
}
.titreAcceuil{
  font-size: 18px;
}

.titreAcceuil,.descriAccueil {
  color: var(--txtwhite);
}

/********* S E C T I O N ***********/

.section1, .section2, .section3, .section4, .section5{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1{
  background-color: #f1f1f1;
  height: 700px;
  z-index: 10;
}
.section2{
  background-color: #f1f1f1;
  height: 700px;
  z-index: 10;
}
.section3{
  background-color: #f1f1f1;
  height: 750px;
  z-index: 10;
}
.section4{
  background-color: transparent;
  height: 500px;
  z-index: 10;
}
.section5{
  background-color: #f1f1f1;
  height: 650px;
  z-index: 10;
}

/************* S E R V I C E **************/
.serviceAEC{
  position: absolute;
  padding-top: 30px;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 700px;
  width: 95vw;
  max-width: 1400px;
  background-color: white;
  border-radius: 50px;
}
.carous_container{
  width: 90%;
}
.carous_container-mobile{
  display:none;
  width: 90%;
}
.carous_container-tablette{
  display: none;
  width: 90%;
}
.content_titre{
  width: 93%;
  height: 150px;
}
.ligne{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.txtNav{
  font-size: 18px;
  color: #1E426C;
}
.traitNav{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.prev{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: -57px;
  z-index: 100;
  background-color: #888686;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease;
}
.next{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  right: -57px;
  z-index: 100;
  background-color: #888686;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease;
}

.prev:hover, .next:hover{
  background-color: #5f5e5e;;
}

.slick-slide>div {
  margin-left: 10px;
}






/***************** A B O U T ***************/

.aboutAEC{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  background-color: white;
}
.aboutAEC1{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 90%;
}

.about1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 20px;
}
.about1>span{
  font-size: 16px;
}
.about2{
  position: relative;
  padding: 20px;
}
.imageA{
  background-image: url("./image2.jpg");
  position: relative;
  height:100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}
.voir{
  display: none;
}
.btnAbout{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Link1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bleub);
  border: 2px solid var(--bleub);
  transition: all 200ms ease;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
}

.Link1:hover{
  background-color: var(--white);
  color: var(--bleub);
  cursor: pointer;
}



/************** T E A M ********************/
.team{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
  width: 100vw;
  max-height: 750px;
  background-color:rgb(240, 239, 239);

}
/* */
.team1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  max-width: 1400px;
}

.content_titre_team{
  margin-top: 20px;
  width: 95%;
  height: 50px;
}
.ligneteam{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.txtNavteam{
  font-size: 18px;
  color: #1E426C;
}
.traitNavteam{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.teamParty1{
  margin-top:5px ;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 260px;
  width: 50%;
}
.teamParty2{
  margin-top:15px ;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 260px;
  width: 70%;
}



/**************** C  O  N  T  A  C  T ********************/
.lienOffre{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.lienOffre1{
  width: 90%;
  height: 70%;
  padding: 20px;
  text-align: center;
  max-width: 1400px;
  max-height: 450px;
}
.lienOffre1>p{
  font-size: 35px;
  color: var(--white);
}
.btn_offre_site{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.linkOffre{
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px ;
  outline: none;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  background-color: var(--white);
  color: black;

  transition: all 200ms ease;
}
.linkOffre:hover{
  cursor: pointer;
  font-weight: 500;
  background-color: var(--bleu);
  color: var(--white);
}

/******************  C  O  N  T  A  C  T**************************/

.contactAEC{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-height: 750px;
  background-color: white;
}

.containerContact{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  max-width: 1400px;
}
.contactAEC1{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.contact1{
  position: relative;
  padding: 20px;
}

.contact1>p{
  font-size: 16px;
}
.contact2{
  position: relative;
  padding: 20px;
}

.inputContact{
  position: relative;
  overflow: hidden;
  background-color:rgb(26, 142, 163);
  border-radius: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chargement-container1{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  z-index: 11;
}
.inputContact1{
  position: relative;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputContact1>input{
  font-family: 'Roboto';
  border-radius: 5px;
  outline: none;
  border: none;
  height: 40px;
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
}
.erreurEmail{
  border: 1px solid red;
  color: red;
  box-shadow: 0 0 5px rgba(253, 0, 0, 0.8);
}
.telephoneNumber{
  border-radius: 5px;
  outline: none;
  border: none;
  height: 40px;
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
}
.inputContact1>textarea{
  font-family: 'Roboto';
  border: 1px solid white;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 80px;
  resize: none;
  padding: 10px;
}
.inputContact1>input:focus, .inputContact1>textarea:focus, .telephoneNumber:focus{
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.inputContact1>button{
  position: absolute;
  background-color: var(--bleub);
  color: var(--txtwhite);
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 5px;
}

.btnContact{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.LinkContact{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bleub);
  border: 2px solid var(--bleub);
  transition: all 200ms ease;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  width: 120px;
  height: 30px;
}

.LinkContact:hover{
  background-color: var(--white);
  color: var(--bleub);
  cursor: pointer;
}












/***************************************************************************************/

.slide-text h1, .slide-text p{
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn 1s forwards;
}
.slide-text .btn {
  opacity: 1;
  transform: translateY(10px);
  animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 45px;
  border-radius: 5px 20px;
  background-color: var(--bleub);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--bleu);
  cursor: pointer;
}

.ScrollBtn {
  position: fixed;

  bottom: 20px;
  right: 20px;
  background-color: var(--bleub);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 7px;
  cursor: pointer;
  display: none; /* Le bouton est invisible par défaut */
  z-index: 1000;
  transition: transform 0.3s ease;
}

.ScrollBtn:hover{
  transform: scale(1.08);
}


/******* Responsivité *******/

/* Styles pour les petits mobiles */
@media (max-width: 480px) {
  .content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .descriAccueil{
    font-size: 25px;
  }
  .titreAcceuil{
    font-size: 15px;
  }
  .section1{
    height: 700px;
    border: none;
  }
  .serviceAEC{
    margin: 0;
    height: 97vh;
    width: 94%;
    padding: 1%;
    border-radius: 30px;
    transform: translate(-50%, -56%);
  }
  .carous_container{
    display: none;
  }
  .carous_container-mobile{
    display: block;
  }
  .ligne{
    display: flex;
  }
  .content_titre{
    height: 210px;
  }
  .prev, .next{
    display: none;
  }
  .traitNav, .traitNavteam, .trai{
    display: none;
  }


  .ligneteam{
    display: block;
  }
  /***** Section 2 ******/
  .section2{
    position: relative;
    height: auto;
  }
  .aboutAEC{
    position: relative;
    height: 100%;
    width: 100%;
  }
  .aboutAEC1{
    display: block;
    height: 100%;
    width: 100%;
  }
  .about2{
    display: none;
  }
  .about-txt-mobile{
    display: none;
  }
  .voir{
    display: block;
    color: var(--bleub);
    transition: all 200ms ease;
  }
  .voir:hover{
    color: var(--bleu);
  }
  /******* Section 3 ******/

  /******* Section 4 *****/
  .lienOffre1>p{
    font-size: 25px;
    color: var(--white);
  }
  .linkOffre{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px ;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    background-color: var(--bleub);
    color: var(--white);
  
    transition: all 200ms ease;
  }

  /******** Section 5 *************/
  .section5{
    height: auto;
  }

  .contactAEC{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: auto;
    width: 100vw;
    background-color: white;
  }
  
  .containerContact{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    max-width: 1400px;
  }
  .contactAEC1{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .contact2{

  }
  .contact1{
    display: none;
  }
  
.inputContact{
  position: relative;
  overflow: hidden;
  background-color:rgb(26, 142, 163);
  border-radius: 20px;
  height: 330px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputContact1{
  position: relative;
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputContact1>textarea{
  height: 40px;
}
.inputContact1>input{
  height: 28px;
}
  





}

/* Styles pour les grands mobiles et tablettes en portrait */
@media (min-width: 481px) and (max-width: 768px) {
  .section1{
    height: 730px;
    border: none;
  }
  .content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
  }
  .carous_container{
    display: none;
  }
  .carous_container-mobile{
    display: none;
  }
  .carous_container-tablette{
    display: block;
  }
  .serviceAEC{
    margin: 0;
    height: 65vh;
    width: 94%;
    padding: 1%;
    border-radius: 30px;
    transform: translate(-50%, -60%);
  }
  .ligne{
    display: flex;
  }
  .content_titre{
    height: 210px;
  }
  .prev{
    left: -43px;
    height: 40px;
    width: 40px;

  }
  .next{
    right: -43px;
    height: 40px;
    width: 40px;
  }
  .traitNav, .traitNavteam, .trai{
    display: none;
  }


  .ligneteam{
    display: block;
  }
}

/* Styles pour les tablettes et ordinateurs portables */
@media (min-width: 769px) and (max-width: 1024px) {
 
}

/* Styles pour les ordinateurs portables et bureaux */
@media (min-width: 1025px) and (max-width: 1440px) {
 
}

/* Styles pour les écrans de bureau larges */
@media (min-width: 1441px) {

}
