.resetContainer{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 142, 163);

}
.resetElement0{
    position: relative;
    height: 60%;
    width: 30%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.resetElement{
    position: relative;
    height: 80%;
    width: 80%;
    overflow: hidden;
}
.resetElement1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.resetElement1>input{
    outline: none;
    border: 1px solid gray;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
.resetElement1>input:focus{
    border: 1px solid var(--bleub);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}
.resetElement1>button{
    outline: none;
    border: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: var(--bleub);
    color: var(--white);
    cursor: pointer;
}
.resetElement1>button:hover{
    background-color: var(--bleu);
}

.disabled{
    pointer-events: none; 
    opacity: 0.5;         
    cursor: not-allowed;   
}

.chargement-container2{
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}