.navbar {
  position: fixed; 
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  background: var(--white);
  backdrop-filter: blur(5px);
  font-weight: 500;
  z-index: 400;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}


.navContent{
position: relative;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
background-color: transparent;
height: 100%;
width: 100%;
padding-right: 3%;
padding-left: 3%;
}

.listeNav{
  display: flex;
  width: auto;
  gap: 1rem;
  color:var(--bleub);
  margin-left: 100px;

}

.navbar.fixed {
  background: var(--white);
  backdrop-filter: blur(4px);
}

.navbar ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0 50px;
}

.navbar ul li {
  display: inline;
  margin-left: 20px;
}

.navbar ul li a {
  color: var(--bleub);
  text-decoration: none;
  border-bottom: 0px solid black;
}
.Login{
  background-color: rgb(26, 142, 163);
  color: var(--white);
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: all 300ms ease;
}

.Login:hover{
  cursor: pointer;
  transform: scale(1.08);
}

/*****************************/
.contentPrincipale{
  position: fixed;
  z-index: 1000;
  right: 5px;
  top: 75px;
  width: 300px;
  height: 270px;
  border-radius: 5px;
  background-color: var(--white);
  overflow: hidden;
}

.cardLogin{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
  
.container{
  position: relative;
  height: 90%;
  width: 90%;
}

.connecter{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
} 

.logBtn{
  border: none;
  width: 100px;
  height: 30px;
  background: var(--bleu);
  color: var(--txtwhite);
}

.logBtn:hover{
  cursor: pointer;
}

.p1{
  color: var(--txtbleu);
  font-size: 18px ;
}
.p2{
  font-size: 10px;
  text-decoration: underline;
  color: var(--bleu);
  cursor: pointer;
}

.LogInput{
  position: relative;
  height: 35px;
  margin-top: 10px;
}
.LogInput>input{
  position: relative;
  font-family: 'Roboto';
  padding-left: 10px;
  padding-right: 10px;
  height: 32px;
  width: 92%;
  border: 1px solid gray;
  outline: none;
}

.LogInput>input:focus{
    border: 1px solid var(--bleub);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}

/*******************************/  

.nav-link:focus,
.nav-link:active {
outline: none; 
border: none; 
box-shadow: none;
width: auto;
background: none;
}

.nav-link {
  
  outline: none; /* Assurez-vous que le focus n'ajoute pas de style */
  background: none;
}


.logo{
  position: relative;
}


/******* Configuration pour mobile**********/
.navbar-mobile{
  position: fixed; /* Garder le navbar en position fixe */
  top: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: var(--white);
  backdrop-filter: blur(5px);
  font-weight: 500;
  z-index: 400;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transition pour la position et l'opacité */
}
.Login-mobile{
  background-color: rgb(26, 142, 163);
  color: var(--white);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease;
}

.listeNav-mobile{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color:transparent;
  transform: translateX(-100%);
  color: var(--white);
  transition: transform 300ms ease-in-out;
}
.listeNav-mobile.show {
  transform: translateX(0);
}
.listeNav-mobile1{
  position: relative;
  height: 100%;
  width: 50%;
  padding-left: 30px;
  padding-top: 30px;
  background-color: gray;
}
.listeNav-mobile1>div{
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
}
.listeNav-mobile>div:hover{
}
.nav-link-mobile{
  text-decoration: none;
  outline: none;
  font-size: 18px;
  padding: 0;
  color: white;
}

/********** responsive *******/
@media (max-width: 480px) {
.navbar{
  display: none;
}
.navbar-mobile{
  display: flex;
}
}
@media (min-width: 760px) and (max-width: 1024px) {
.navbar{
  display: none;
}
.navbar-mobile{
  display: flex;
}
}