.OffrePrincipale{
    position: relative;
    display: grid;
    grid-template-columns: auto 22rem;
    background-color: var(--bleufond);
    height: 100%;
    position: relative;
    width: 100%;
}   


.head{
    height: 150px;
}
.fond-mission-profil{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    background-color: var(--black3);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
}

.Offre{/*candidatListe*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.offreListe{/*listeCandidat*/
    position: relative;
    width: 90%;
    height: 88%;
    position: relative;
}
.cardOffre{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70%;
    width: 100%;
    margin-top: 10px;
}
.cardOffre::-webkit-scrollbar {
    width: 8px; 
    background-color: var(--black2);
    border-radius: 10px;
  }
.cardOffre::-webkit-scrollbar-thumb {
    background-color: var(--black6);
    border-radius: 10px;
  
  }


.headEmploi{
    position: relative;
    display: flex;
    align-items: center;
    color: var(--whitek);
    z-index: 50;
    height: 100px;
    background-color: var(--black2);
    border-radius: 10px;
    width: 100%;
    transition: transform 300ms ease;
}
.contentSearch{
    position: relative;
    width: 50%;
    height: 38px;
    margin-left: 5%;
    display: flex;
    align-items: center;
}
.inputSearch{
    font-size: 15px;
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 87%;
    padding-left: 3%;
    padding-right: 10%;
    outline: none;
    border: none;
}
.iconeSearch{
    position: absolute;
    right: 8px;
}

.offreScroll{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    background: transparent;
    flex-direction: column;
    height: 300px;
    gap: 0.5rem;
}


.contentOffre{
    color: var(--whitek);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    font-size: 15px;
    width: 580px;
    transition: all 300ms ease;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 0px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 24px rgba(7, 12, 61, 0.08);

}

.selectedOff{
    color: var(--whitek);
    background-color: var(--black4);
    transform: scale(1.02);
    outline: none;
    border: none;
}
.btn_Archive_Publication{
    display: flex;
    gap: 0.5rem;
}
.btnArchiver{
    color: var(--whitek);
    outline: none;
    border: none;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    background-color: var(--black4);
    transition: all 200ms ease;
}
.btnArchiver:hover{
    color: var(--white);
    background-color: var(--black5);
    cursor: pointer;
}

#addEmplo{/******** div ********/
    color: var(--white);
    transition: all 300ms ease;
}
#addEmplo:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.addEmplo{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50px;
}
.detailEmploi0{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}
.detailEmploi{
    position: relative;
    height: 88%;
    width:83% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.infoEmploi{
    position: relative;
    background-color: var(--black2);
    border-radius: 10px;
    height: 100%;
    color: var(--whitek);
}
.containerEmploi{
    font-size: 15px;
    padding: 10px;
}
.titreEmploi{
    background-color: var(--black2);
}
.descriptionEmploi{
    background-color: var(--black2);
}
.actionEmploi{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.act1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.act2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#del1{
    transition: all 300ms ease;
}
#del1:hover{
    transform: scale(1.1);
    color: var(--white);
    cursor: pointer;
}


.react-calendar {
    padding: 5px;
    width: 500px; 
    height: 280px; 
    border-radius: 20px;
    box-shadow: 0 12px 24px var(--black2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }

  .react-calendar__navigation button {
    font-size: 15px; 
  }
  
  .react-calendar__tile {
    height:28px; 
  }
  .react-calendar__month-view__weekdays {
    font-size: 10px; 
    text-align: center;
  }
  

  /******* F O R M U L A I R E *********/

  .formulaireAjoutB{
    position: absolute;
    z-index: 200;
    background: var(--black3);
    backdrop-filter: blur(3px);
    padding: 20px;
    width: 100%;
    height: 100vh;

  }
  .koko{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    background:var(--bleu3);
    width: 300px;
    height: 400px;
    border-radius: 5px;
    padding: 15px;
}

.boutonClose{
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 300ms ease;
}

.koko>h2{
    color: var(--white);
}
.contenuFormulaireAjout1{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.Input_Emploi{
 width: 100%;
 height: 60px;   
}
.Input_Emploi>label{
    color: var(--white);
 }
 
.NomEmploi{
    height: 40px;
    padding-left: 2%;
    padding-right: 2%;
    outline: none;
    border: 1px solid rgb(92, 86, 86);
    transition: all 300ms;
    width: 96%;
    margin-top: 10px;
    border-radius: 5px;
}
.AjouterEmp{
    display: flex;
    height: 40px;
    gap: 1rem;
    margin-top:20px ;
    align-items: center;
    justify-content: flex-end;
}
.AjouterEmp>button{
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 5px;
    transition: all 300ms ease;
}
.AjouterEmp>button:hover{
    transform: scale(1.009);
    cursor: pointer;
}
.btn-ajout-emploi{
    background-color: var(--bleu1);
    color: var(--white);
}
.btn-modification-emploi{
    background-color: var(--green);
    color: var(--white);
}


/********* FORMULAIRE POUR PROFIL **************/
.formulaireProfil{
    position: absolute;
    z-index: 200;
    background: var(--black3);
    backdrop-filter: blur(3px);
    padding: 20px;
    width: 100%;
    height: 100vh;

  }

.chargement_offre{
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--black3);
    backdrop-filter: blur(3px);
    z-index: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}