.cardTeam{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 180px;
    height: 230px;
    background-color: transparent;
    box-shadow: 5px 4px 8px rgba(0,0,0,0.1);
  }
  
  .image_team{
    position: relative;
    filter: grayscale(20%);
    background-image: url(./img1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
    border-radius: 20px;
    transition: all 1000ms ease;
  }
  .image_team:hover{
    filter: grayscale(0%);
  }
  .descri_team{
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
  }
  .nom_team{
    font-size: 17px;
    font-weight: bold;
  }
  .fonc_team{
    font-size: 14px;
    color: rgb(97, 93, 93);
    font-weight: bolder;
  }