.candidatPrincipale{
    display: grid;
    grid-template-columns: auto 22rem;
    background-color: var(--bleufond);
    height: 100%;
    position: relative;
}

.candidatListe{/* bacgrounf*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--whitek);
}

.listeCandidat{
    position: relative;
    width: 90%;
    height: 78%;
    margin-bottom: 2%;
    overflow: hidden;
}

.nomOffre{
    position: relative;
    height: 180px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--black2);
}
.nomOffre1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 70%;

}
.nomOffre1>p, .nomOffre1>h3{
    padding: 0;
    margin: 0;
}
.Bouton_statut{
    display: flex;
    gap: 0.2rem;
}
.Bouton_statut>button{
  height: 27px;
  width: 80px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.Bouton_statut>button:hover{
    box-shadow: none;
}
.active-button{
    background-color: var(--bleu1);
    color: var(--white);
}
.searchCandidat{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchCandidat1{
    position: relative;
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
}
.input_searchCand{
    font-size: 15px;
    border-radius: 10px;
    height: 100%;
    width: 87%;
    padding-left: 3%;
    padding-right: 10%;
    outline: none;
    border: none;
}
.navigationButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;

  }
  
  .navigationButtons>button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bleu1);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease;
  }

  .navigationButtons>button:hover{
    transform: scale(1.08);
    background-color: var(--bleu3);
  } 

.contentCandidat{
    position: absolute;
    width: 100%;
    height:100%;
}

.candidatOffre{
    position: absolute;
    width: 100%;
    height: 61%;
    display: flex;
    overflow-y:scroll ;
    flex-direction: column;
    align-items: center;
    
}
.candidatOffre::-webkit-scrollbar {
    width: 8px; 
    background-color:var(--black2);
    border-radius: 10px;
  }
.candidatOffre::-webkit-scrollbar-thumb {
    background-color: var(--black6);
    border-radius: 10px;
  
  }

.avant{
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 0px 10px 10px 10px;
    margin-bottom: 10px;
    background-color: var(--black2);
    transition: all 200ms ease;
}
.avant:hover{
    cursor: pointer;
    background-color: var(--blackc);
}

.selectedAvant{
   width: 92%;
   transform: scale(1.01);
   background-color: var(--black4);
}
.selectedAvant::before {
    content: "";
    border-radius: 0px 10px 0px 10px;
    width: 8px;
    height: 100%;
    background: var(--bleubnav);
}

.onlyCandidat{
    display: flex;
    align-items: center;
    padding: 7px;
    gap: 2rem;
}
.iconeCandidat{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
    background-color: var(--black4);
    height: 40px;
    width: 40px;
}
.acceptedClass{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
    background-color: var(--green);
    height: 40px;
    width: 40px;
}
.refusedClass{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
    background-color: var(--redk);
    height: 40px;
    width: 40px;
}

.detailCandidat{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--whitek);
    padding-left: 13px;
}

.detailCandidat0{
    position: relative;
    height: 88%;
    width:83% ;
    
}

.detailCandidat1{
    position: absolute;
    transform: translate(-50%, -50%); /* Déplace l'élément pour le centrer */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 50%;
    left: 50%;
    padding: 15px;
    height: 95%;
    width:89% ;
    border-radius: 10px;
    background-color:var(--black2);
    transition: all 300ms ease-out;
}
.detailCandidat1.activePanel {
    transform: translate(70%, -50%);
  }

.detailPanelEmail{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(70%, -50%);
    padding: 15px;
    height: 95%;
    width:89% ;
    border-radius: 10px;
    background-color:var(--black2);
    transition: all 300ms ease;
}
.detailPanelEmail.activePanel {
    transform: translate(-50%, -50%);
  }

.btnRetour{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btnRetour1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    transition: all 200ms ease;
}
.btnRetour1:hover{
    color: var(--whitek);
    cursor: pointer;
}


.formulaireEmail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 400px;
}

.entretientContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.inputEntretien{
    height: 40px;
    width: calc(100%-20px);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}


.btnSend{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    height: 100px;
    position: absolute;
    width: 90%;
    bottom: 0;
}
.btnSendMail{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none; 
    background-color: var(--black4);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 200ms ease;
}

.btnSendMail:hover{
    background-color:var(--bleu1);
    cursor: pointer;
    transform: scale(1.02);
}


.informationCC{
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: auto;
}
.cvBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--bleu1);
    transition: all 200ms ease;
}
.cvBtn:hover{
    cursor: pointer;
    background-color: var(--bleu3);
    transform: scale(1.1);
}

.emailBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: absolute;
    width: 90%;
    bottom: 0;
    gap: 1rem;
}
.emailBtn1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--black4);
    transition: all 200ms ease;
}
.emailBtn1:hover{
    background-color: var(--orange);
    cursor: pointer;
}
.refusBtn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 200ms ease;
}
.refusBtn:hover{
    cursor: pointer;
    background-color: var(--red);
}

.spinner-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black3);
    border-radius: 10px;
    z-index: 400;
    height: 88%;
    width: 80% ;
}
  
.chargementCC_offre{
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--black3);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    z-index: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}